<!DOCTYPE html>
<html>
	<head>

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">

	  <title>Titanic</title>

	  <!-- Bootstrap core CSS -->
	  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='css/survived.css') }}" rel="stylesheet">
	  <!-- <link href="{{ url_for('static', filename='css/rate.css') }}" rel="stylesheet"> -->
	  <link rel="icon" href="{{ url_for('static', filename='img/icon.jfif') }}" type="image/gif" sizes="50x50">

	  <!-- Custom fonts for this template -->
	  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
	  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	  <!-- Custom styles for this template -->
	  <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

	</head>

	<body>
		<form action="{{url_for('home')}}" method="POST" enctype="multipart/form-data" class="survived_container">
		<div class="main-container">
			<div>
			<label for "sex">Sex:</label><br>
				<select name="Sex" id="sex">
					<option value="0">Male</option>
					<option value="1">Female</option>
				</select>
			<br/>
			<label for "age_band">Age:</label><br>
				<select name="Age_band" id="age_band">
					<option value="0">Below 17</option>
					<option value="1">Between 17 and 32</option>
					<option value="2">Between 33 and 48</option>
					<option value="3">Between 49 and 64</option>
					<option value="4">65 and above</option>
				</select>
			<br>
			<label for "title">Title:</label><br>
				<select name="Title" id="title">
					<option value="0">Mr</option>
					<option value="1">Mrs</option>
					<option value="2">Miss</option>
					<option value="3">Master</option>
					<option value="4">Other</option>
				</select>
			<br>
			<label for "embarked">Port of Embarkation:</label><br>
				<select name="Embarked" id="embarked">
					<option value="0">Cherbourg</option>
					<option value="1">Queenstown</option>
					<option value="2">Southampton</option>
				</select>
			<br>
		</div>
		<div>
			<label for "fare">Fare:</label><br>
				<select name="Fare_cat" id="fare">
					<option value="0">Less than 8$</option>
					<option value="1">Between 8$ and 14$</option>
					<option value="2">Between 15$ and 31$</option>
					<option value="3">Greater than 32$</option>
				</select>
			<br>
			<label for "pclass">Ticket Class:</label><br>
				<select name="Pclass" id="pclass">
					<option value="3">Lower</option>
					<option value="2">Middle</option>
					<option value="1">Upper</option>
				</select>
			<br>
			<!-- <label for "travel">Travelling with</label>
				<select name="Alone" id="alone">
					<option value="1">Alone</option>
					<option value="0">Not Alone</option>
				</select>
			<br>
			<label for "family_size">Famlily Size</label>
				<input type="text" id="family_size" name="Family_Size" value="0">
			<br> -->
			<label for "sibsp"># Siblings:</label><br>
				<input type="text" id="sibsp" name="SibSp" class ="inputText" value="0">
			<br>
			<label for "parch"># Parents:</label><br>
				<input type="text" id="parch" name="Parch"  class ="inputText"  value="0">
			<br>
		</div>
	</div>
	<div class="submit">
			<input type="submit" value="Submit" class="btn btn-primary">
			<br><br>
			<h3 class="result">{{result}}</h3>

</div>
			<br>
		</form>
	</body>
</html>